/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.removelinkdefault:hover{
    text-decoration: none;
}

.btn-submit{
    margin-top: 20px;
}

.responsive-img{
    width: 100%;
    height: auto;
}

/*Header*/
header{
    display: flex !important;
    position: relative;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 150px;
}

#menu-wrap{
    overflow: hidden;
}

.site-branding{
    cursor: pointer;
}

.site-title{
    font-weight: 600;
    font-size: 26px;
    color: #404044;
}

.main-nav{
    right: 0;
    position: absolute;
}

.menu-list{
    list-style: none;
}

.menu-list__items{
    float: left;
    padding: 0 10px;
    color: gray;
}

.logo{
    max-width: 100px;
}

i.fas.fa-user-alt{
    padding-right: 5px;
}

/*Hamburger btn*/
#burgerBtn{
    display: none;
    z-index: 3;
    position: absolute;
    top: 3px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.burger{
    width: 33px;
    height: 24px;
}

.burger span{
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease-in-out;
}

.burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: transform .5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px);
}

.burger span::after{
    transform: translateY(+10px);
}

.burger.active span{
    background-color: transparent;
}

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/*Gallery*/
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
}

.wrap-img{
    position: relative;
    padding: 0.25em;
    width: 33.33%;
}

.img-title{
    display: none;
    position: absolute;
    bottom: 5%;
    left: 8%;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(0 0 0 / 42%);
    color: #fff;
}

.wrap-img:hover .img-title{
    display: block;
    
}

.action-icons{
    position: absolute;
    top: 12px;
    right: 12px;
    background: #111;
    border-radius: 2px;
}

.action-icons i{
    color: #fff;
    font-size: 1.25rem;
}

i.fas.fa-pencil-alt, i.fa.fa-trash{
    padding: 5px 15px;
}

.fa-pencil-alt::before{
    padding-right: 50px;
}

.items-gallery{
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 0.8s;
    cursor: pointer;
}

/*Modal*/
#modal{
    display: none;
    position: fixed;
    z-index: 3; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(0 0 0 / 42%);
    padding: 10px 0;
    height: 150px;
  }

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

i.fas.fa-times{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

i.fas.fa-times:hover, i.fas.fa-times:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

i.fas.fa-chevron-left, i.fas.fa-chevron-right{
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    color: #fff;
    font-size: 3em;
    cursor: pointer;
}

i.fas.fa-chevron-left{
    left: 0;
}

i.fas.fa-chevron-right{
    right: 0;
}

/*Image hover*/
.gallery:hover .items-gallery{
    opacity: 0.28;
}
.wrap-img:hover .items-gallery{
    opacity: 1;
}  

/*Footer*/
footer{
    background: #111;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.space{
    padding-top: 100px;
}


/*media query*/
@media screen and (max-width: 900px) {
    .main-nav.open{
        left: 0px;
    }
    .main-nav{
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        padding: 1rem;
        transition: 0.3s all ease;
        z-index: 1000;
        height: 100vh;
        background: #363636;
    }
    header{
        display: block !important;
    }
    #burgerBtn{
        display: block;
    }
    .menu-list__items{
        float: none;
        line-height: 1.4;
        text-transform: none;
        font-weight: 600;
        font-size: 20px;
    }
    .strike:hover{
        text-decoration: line-through;
        color: #fff;
    }
    .gallery{
        height:220vw;
    }
    .wrap-img{
        width:50%;
    }
    .modal-content{
        width: 100%;
    }
}

@media screen and (max-width: 667px) {
    .gallery{
        height:auto;
    }
    .wrap-img{
        width:100%;
      }
}

